@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item {
    background-color: #222;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    /* Анімація появи */
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
}

.link {
    text-decoration: none;
    color: #3dbfff;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.link:hover {
    color: #66d0ff;
}